<div class="container mt-2 col-xl-6 border border-primary mt-5">
    <form class="text-center border border-light p-5"  action="/admin/add-Coupon" method="post"
       >

        <p class="h4 mb-4">Add Coupon</p>

        <div>
            <input type="text" id="coupon-name" class="form-control mb-4" placeholder="Coupon Name"
                name="CouponName" />
        </div>
        <div>
            <input type="text" id="coupon_code" class="form-control mb-4" placeholder="Coupon Code"
                name="CouponCode" />
        </div>
        <div>
            <input type="text" id="limit" class="form-control mb-4" placeholder="limit"
                name="limit" />
        </div>
        <div>
            <input type="text" id="discount" class="form-control mb-4" placeholder="discount"
                name="discount" />
        </div>
         <div>
            <input type="date" id="expiredate" class="form-control mb-4" placeholder="Date of expiry"
                name="expirydate" />
        </div>
      
        <button type="submit" class="btn btn-primary text-center">Submit</button>
    
    </form>

</div>



