<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

            <form action="/RPass" method="POST">
            
              <h2 class="fw-bold mb-2 text-uppercase pb-5">New Password </h2>
              <label><a>Please enter your new Password</a></label>
               <div>
                   
                   <input type="password" name="password" class="form-control-lg" id="password1" placeholder="password"/>
               </div>
            <label><a>Confirm your new Password</a></label>              
              <div>
                <input type="password" id="password2" name="confirmPassword" class="form-control-lg" placeholder="confirm password" />
               <p style="color:red;">{{passErr}}</p>
              </div>
             </div>
           <div  id="CheckPasswordMatch"></div>
                <button class="btn btn-outline-light btn-lg px-5 mt-2" type="submit">Reset</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> 

<script>
  $(document).ready(function () {
    $("#password2").on('keyup', function () {
      var password = $("#password1").val();
      var confirmPassword = $("#password2").val();
      if (password != confirmPassword)
        $("#CheckPasswordMatch").html("Password does not match !").css("color", "yellow");
      else
        $("#CheckPasswordMatch").html("Password match !").css("color", "green");
    });
  });
</script>

  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



</body>
</html>










